.plansza {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  height: 360px;
}
.pole {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kulka {
  box-sizing: border-box;
  border: 1px solid black;
  width: 25px;
  height: 25px;
}
#ballBox {
  display: flex;
}
